*{
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

body{
    margin: 0;
    width: 96%;
    margin: 0 auto;
    font-size: 18px;
    background-color: #D4ECDD;
}

.container{
    max-width: 500px;
    margin: 0 auto;
}

.title{
    text-align: center;
}

.form-group{
    margin: 1rem 0;
}

.form-control{
    width: 100%;
    font-size: inherit;
    padding: 5px 10px;
    border: none;
    outline: none;
    border: 2px #345B63 solid;
    border-radius: 4px;
}

.btn{
    font-size: 18px;
    background-color: transparent;
    border: none;
    border: 2px #345B63 solid;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
}

#msg,#error{
    text-align: center;
    font-size: 1.5rem;
}

#error{
 color: red;
}